body {
    background-color: black;
}
.enlarge {
    transition: transform 0.50s;
}

.enlarge:hover {
    transform: scale(1.5);
    /* display: inline-block; */
}
select {
    display: block;
}

a{
    text-decoration: none;
    color: #f77f00;
    font-size:1.5em;
}

.custom-select {
    background-color: #03045e;
    color: white;
}

.color_change {
    background-color: #023047;
}