body {
    background-color: black;
}
.circle {
    height: 200px;
    width: 200px;
    background-color: darkblue;
    transition: border-radius 0.5s, background-color 0.25s, transform 0.5s;
}

.circle:hover{
    background-color: cyan;
    border-radius: 50%;
    transform: scale(1.25) translateY(20px);
}

section div {
    height: 100px;
    width: 100px;
    margin:10px;
    background-color: darkgreen;
    transition: margin-left 2s, border-radius 1s, background-color 1.5s;
}
section:hover div{
    margin-left:500px;
    border-radius: 50%;
}

section:hover div:nth-of-type(1){
    background-color: chocolate;
}

section:hover div:nth-of-type(2){
    background-color: gold;
}

section:hover div:nth-of-type(3){
    background-color: red;
}

section:hover div:nth-of-type(4){
    background-color: cyan;
}

section:hover div:nth-of-type(5){
    background-color: darkblue;
}

section:hover div:nth-of-type(6){
    background-color: deeppink;
}

div:nth-of-type(1){
    transition-timing-function: ease-in;  
}

div:nth-of-type(2){
    transition-timing-function: ease-out;
}

div:nth-of-type(3){
    transition-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
}

div:nth-of-type(4){
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

div:nth-of-type(5){
    transition-timing-function: ease-in-out;
}

div:nth-of-type(6){
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}